@{
    ViewData["Title"] = "Carlos Enrique Diaz Maya";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Carrera 78 No. 64C-75<br />
    Barrio Villa Luz<br />
    Bogotá, Colombia<br />
    <abbr title="Phone">Celular:</abbr>
    +57 3156481876
</address>

<address>
    <strong>Email:</strong> <a href="mailto:sunriken@gmail.com">sunriken@gmail.com</a><br />
</address>
