@{
    ViewData["Title"] = "Política de privacidad";
}
<h2>@ViewData["Title"]</h2>

<p>Este sitio web hace uso de Cookies para su uso correcto. No se capturará información personal de ningún tipo.</p>
